*{
    box-sizing: border-box;
}
body {
    /*
    background-color: #979797;
     */
    background-color: #F7F6F2;
    padding: 15px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #2D4263;
}

a:hover {
    color: #DBA73E;
}

.heading {
    background-color: #2D4263;
    color: #F7F6F2;
    padding: 5px 15px 5px 15px;
}

div.sub-heading {
    align-content: center;
    background-color: #F7F6F2;
    color: #2D4263;
    padding: 5px;
    border: 2px solid black;
}

nav.sub-heading.flex-container {
    border: 2px solid #2D4263;
}

nav.sub-heading.flex-container a {

}

.sub-heading a,
.social-footer ul li{
    display: inline-block;
    list-style: none;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
    background: #909090;
    border: 4px solid #2D4263;
    height: auto;
    margin: 2px;
    flex: 1;
}

.video-colors {
    background-color: #2D4263;
    color: black;
    padding: 5px 15px 5px 15px;
}

.video-list {
    background: #909090;
    border: none;
    height: auto;
    list-style: none;
}

.video-column-one {
    display: flex;
    justify-content: center;
}

.video-content {

}

.video-title {
    display: flex;
    justify-content: center;
}

.video-text {
    display: flex;
    justify-content: center;
}

/* CSS related to the IT resume page */
/*Colors
Green - #20C20E (Text and borders)
Black - black (Background)
White - #F5F5F5 (Hover)
 */
/*
.it-colors,
.it-colors a,
.it-colors div{
    background-color: black;
    color: #20C20E;
    font-family: 'Courier New', monospace;
}

.it-colors .heading,
.it-colors .sub-heading {
    border: #20C20E solid 3px;
}

.it-colors a:hover {
    color: #F5F5F5;
}
*/
/* CSS related to programming resume page */
/*Colors
Black/Dark Maroon - #2C061F (Background)
Grey - #374045 (Header background, borders)
Orange - #D89216 (text?)
Yellow-Tan - #E1D89F (Hover?)
 */
.programming-colors,
.programming-colors div{
    background-color: #2C061F;
    color: #D89216;
    border-color: #374045;
}

.programming-colors .heading {
    background-color: #374045;
}

.programming-colors .sub-heading {
    background-color: #2C061F;
    color: #DBA73E;
}